h1 {
	color: cyan;
}

p {
	color: purple;
}


.hobby2 {
	color: orange;
	text-align: 250px;

}



.games2 {
	color: green;
}

.header {
	background-image: url(http://static1.squarespace.com/static/5745f9d4f699bbc80b4bd746/5769e7c0f7d1ff8560a306a2/5769e8c8f7d1ff8560a31a4f/1466558664024/Kitten1.jpg?format=original);
	background-repeat: no-repeat;
	width: 100%;
	height: 500px;
}

.welcome {
	text-align: center;
	padding-top; 150px;
	font-size: 78;
	font-family: 'Acme', sans-serif;
}

.family2 {
	color: red;
}


.books {

}

.books2 {
	
	color: magenta;
	font-family: 'Gidugu', sans-serif;
}



.personality2 {
	color: blue

}

.fifi {
	width: 35%;
	height: 450px;

}

* {
	font-family: 'Open Sans Condensed', sans-serif;
	background-color:#E0FFFF;
}

.container {
	width: 55%;
	margin:auto;
	background-color: rgba(211,211,211,0.2);
}

.harrypotter {
	width:90%;
	height: 500px;
}
